*{
  margin: 0;

}


.navbar {
  padding-top: 5px;
  align-content: center;
  display: flex;
  justify-content: space-around;
  background-color: rgb(177, 179, 177);
  width: 100%;
  height: 50px;
  align-items: center;}
  .tracker{
    color: red;
    font-size: larger;

  }
  .background{
    width: 100%;
    height: 100vh;
   padding: 2px;

  }

.navlink{
    color: red;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container{
    position:relative;
    text-align: center;
    color: rgb(19, 18, 18);
  }
  .bottomleft{
    position: absolute;
    bottom: 8px;
    left: 16px;
    padding: 4px;
    color: red;
    font-weight: bolder;

  }
  .topright{
    position: absolute;
    top: 8px;
    right: 16px;
    padding: 4px;
    color: red;
    font-weight: bold;}
  .nav-link{
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    width: 400px;
    background-color: #f5f5f5;
  }
  
  .register-form h1 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
  }
  
  .register-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .register-form input[type='text'],
  .register-form input[type='email'],
  .register-form input[type='password'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .register-form button[type='submit'] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .register-form button[type='submit']:hover {
    background-color: #0069d9;
  }
