footer {
  padding: 3rem 0;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer ul li:last-child {
  margin-bottom: 0;
}

footer ul li span {
  font-size: 1.2rem;
  color: #ffcb3e;
}

footer ul li a {
  font-size: 1.2rem;
}

footer ul li a:hover {
  color: #ffcb3e;
}

footer .list-inline li:not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
body {
  margin: 0;
  padding: 0;
}
